doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include parts/header.pug
    include parts/errorMessage.pug
    block content
    script(src="/javascripts/index.js")