nav
  a(href="/" class="home") Home
  div(class="hamburger")
    div
    div
    div
  div(class="mobile-menu")
    ul
      li
        a(href="/authors") Favourite Authors
      li
        a(href="/authors/new" class="single-line") Add Author
      li
        a(href="/books") Favourite Books
      li
        a(href="/books/new") Add Book
  div(class="desktop-menu")
    ul
      li
        a(href="/authors") Favourite Authors
      li
        a(href="/authors/new" class="single-line") Add Author
      li
        a(href="/books") Favourite Books
      li
        a(href="/books/new") Add Book
        
