extends ../layout

block content
  div(class="search-authors")
    h2 Search authors
    form(action="/authors" method="GET")
      input(type="text" name="name" placeholder="name")
      button(type="submit") Search
  div(class="authors")
   each author in authors
    div(class="author")
      p=author.name
      form(method='POST' action="/authors/"+author.id+"?_method=DELETE")
        button(type="submit") Delete
