extends ../layout

block content
  h2 Search authors
  form(action="/authors" method="GET")
    label(for="name") Name
      input(type="text" name="name")
      button(type="submit") Search
  br
  div(class="authors")
   each author in authors
    div(class="author")
      p=author.name
      form(method='POST' action="/authors/"+author.id+"?_method=DELETE")
        button(type="submit") Delete
