extends ../layout

block content
  div(class="create-author")
    h2 Add new Author
      form(action="/authors" method="POST")
        input(type="text" name="name" value=author.name placeholder="name")
        button(type="submit") Create